/* addon front end css */

.e-con.e-flex>.e-con-inner {
  display: flex !important;
  justify-content: center !important;
  gap: 50px !important;
}

/* .video_slide {
    display: none !important;
} */

.whatsappIcon {
  bottom: 50px;
  animation: 500ms ease-in-out 0s normal none 1 running sscrollTop;
  transition: 0.3s;
  border-radius: 50%;
  position: fixed;
  height: 50px;
  width: 50px;
  z-index: 100;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.whatsappIcon a {
  font-size: 20px;
  color: #fff;
}

.whatsappIcon a:hover {
  color: #fff;
}

.whatsapp_bg_color {
  background-color: #25d366;
}

.services-four__top__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  color: var(--raj-text, #838383);
  margin-bottom: 0;
  padding-top: 10px;
}

.video-fullscreen {
  position: relative;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
}

.video-fullscreen video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}


@media (max-width: 768px) {
  .logo-retina img {
    width: 80px;
    height: 80px;
  }

  .main-header__inner {
    padding: 6px 0;
  }

  .main-footer__inner {
    padding-top: 20px;
  }

  .elementor-835 .elementor-element.elementor-element-a71829f.e-con {
    padding: 0 16px;
  }

  .footer-widget--about .logo-retina img {
    width: auto;
  }

  /* .testimonials-one {
    padding-bottom: 50px !important;
  } */
}